@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
}


.seccion {
    background-image: url("../img/header-desktop-1920x739.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}

.seccion2 {
    background-image: url("../img/fondo2.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.fondo {
    background-color: black;
}

h1 {
    font-weight: bold; 
    font-size: 50px;
}

ul {
    list-style-type: disc;
    font-weight: bold; 
    padding-bottom: 10px;
}

.fecha {
    font-size: 15px;
}

.descripcion {
    font-weight: lighter;
}

hr {
    border-width:2px;
    background-color: white;
}

.textoNegro {
    color: black;
}

.container ul {
    list-style-type: disc; /* Cambia 'disc' por 'circle', 'square', o 'none' según prefieras */
    padding-left: 20px; /* Ajusta el espaciado si es necesario */
}

.container ul li {
    margin-bottom: 10px; /* Añade espacio entre los elementos */
}

.entradas {
    font-weight: bold !important; 
}

.container-botonws {
    /*color de fondo imagen*/
    /* background-color: #e4e4e4;
    border: 1px solid #fff; */
    /*posicion fija*/
    position: fixed;
    /*prioridad al boton*/
    z-index: 1000;
    /*forma circular*/
    border-radius: 50%;
    bottom: 60px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-botonws:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.goto-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 55px;
    height: 50px;
}


/*efecto de animación imagen chat*/

.botonws {
    /*tamano del icono*/
    width: 60px;
    transition: ease 1s;
}

@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    video {
        width: 100%;
        height: auto;
    }
}
